export CXX=clang++ 
export CC=clang 





{%for env_item in env %}
	export {{env_item}}
{%endfor%}


cd {{repo_dir}}





test_log_dirname=$(dirname  "{{test_log}}" )
mkdir -p $test_log_dirname


src_file="{{src_file}}"


echo "patch  find "

patch_log="{{test_log| replace("_fix.log", "_buggy.log") }}"


md5="$(md5sum "$src_file" | awk '{print $1}')"




patch_log="${patch_log//_buggy/_$md5}"

echo "the patch log is "$patch_log


bash  inplace_rebuild.sh {{build_dir}} $patch_log >$patch_log 2>&1  || { echo "Command 2 failed"; exit 1; }

bash inplace_test.sh  {{build_dir}}  $patch_log >>$patch_log 2>&1  


